{% extends "base.html" %}


{% block page_content %}
<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Python Programming</h3>
                <div class="subheading mb-3">Self-Taught Development</div>
                <div>Utilized Courses, Projects, & Tutorials Available Online</div>
                <p>Self-Motivation & Problem Solving Skills Used To Determine Success</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">April 2020 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Social SEO - Three Month Training</h3>
                <div class="subheading mb-3">In-House Search Engine Optimization Training Program</div>
                <div>Google Analytics Certification</div>
                <p>Long Term Employment Upon Completion </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 2019 - September 2019</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Arkansas Tech University</h3>
                <div class="subheading mb-3">Bachelor of Music Education</div>
                <div>Music Education - Instrumental</div>
                <p>GPA: 3.5</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2009 - May 2014</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Mountain Home High School</h3>
                <div class="subheading mb-3">Health & Human Servces (HHS) Academy</div>
                <p>GPA: 3.4</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2006 - May 2009</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />

{% endblock %}