{% extends "base.html" %}

{% block page_content %}
<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Python Programmer</h3>
                <div class="subheading mb-3"> Self Taught - Colorado Springs, Colorado</div>
                <ul>
                    <li>Motivated self-starter that has furthered programming skills during COVID-19 crisis.</li>
                    <li>Learned problem solving skills & techniques by utilizing resources available online.</li>
                    <li>Developed a variety of projects with Python using additional modules, libraries, & resources.</li>
                    <li>Gained mastery of working within an IDE and have strengthed skills around using the terminal.</li>
                    <li>Broadened computer science understanding & education through online lessons, lectures, and tutorials.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">April 2020 - Present </span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Search Engine Optimization Analyst</h3>
                <div class="subheading mb-3">Social SEO - Colorado Springs, Colorado</div>
                <ul>
                    <li>Implemented advanced digital marketing campaigns with colleagues in SEM, Social Media, Video, and Email departments.</li>
                    <li>Fulfilled local and national SEO services for dozens of clients in multiple industries across the country. </li>
                    <li>Demonstrated value of SEO services to clients through detailed monthly reports, weekly emails, and phone calls. </li>
                    <li>Received top-notch on the job training & mentorship to fulfill successful SEO campaigns; took feedback with grace & humility.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2019 - March 2020</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Freelance Web Developer</h3>
                <div class="subheading mb-3">Recital Digital Solutions - Mountain Home, Arkansas</div>
                <ul>
                    <li>Sold, created, and managed websites for local small businesses.</li>
                    <li>Built a small web development business that helped fellow business owners get renewed interest and new customers.</li>
                    <li>Satisfied client expectations by providing expertise, consultation, and creative design.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2018 - May 2019</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Band & Choir Director</h3>
                <div class="subheading mb-3">Mountain Home Public Schools - Mountain Home, Arkansas</div>
                <ul>
                    <li>Demonstrated leadership through music education with a wide variety of students, parents, administrators, and community figures.</li>
                    <li>Participated in a team teaching environment between three other educators  in a fast paced performance oriented atmosphere.</li>
                    <li>Setup, maintained, and operated state of the art mobile sound equipment for a competitive marching band front ensemble.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 2015 - June 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Music Teacher</h3>
                <div class="subheading mb-3">Western Yell County Public Schools - Havanna, Arkansas</div>
                <ul>
                    <li>Provided music education from Kindergarten - 12th Grade at a small impoverished school district.</li>
                    <li>Taught a variety of multi-ethnic students, including those with English as a second language.</li>
                    <li>Created and produced musicals for K-6th grade music classes.</li>
                    <li>Grew a music program in one year to include more students and produce highlight performances not seen in school's history.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">July 2014 - July 2015</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Student-Teacher Internship</h3>
                <div class="subheading mb-3">Dover Public Schools - Dover, Arkansas</div>
                <ul>
                    <li>12 Week Internship including over 450 hours in the classroom. (Observation & Teaching)</li>
                    <li>Developed lesson plans and full units of instructions.</li>
                    <li>Produced video based recordings of teaching methods for college courses.</li>
                    <li>Project based learning environment with a final Spring concert to end the internship.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2014 - June 2014</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Recording Engineer</h3>
                <div class="subheading mb-3">Arkansas Tech University - Russellville, Arkansas</div>
                <ul>
                    <li>Recorded over 100 live performances for both professional and amateur musicians.</li>
                    <li>Engineered recordings and convereted them to both physical and digital media.</li>
                    <li>Set up and take down of mobile recording equipment before & after performances.</li>
                    <li>Project management with team environment including college staff members and fellow students.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2011 - December 2013</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />

{% endblock %}