{% extends "base.html" %}

{% block page_content %}
<!-- Page Content-->
<div class="container-fluid p-0">


    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">Brandon <span class="text-primary">Tetrick</span></h1>
            <div class="subheading mb-5">1425 Vondelpark Drive · Colorado Springs, CO 80907 · (870) 321-2367 · <a href="mailto:brandontetrick@gmail.com">brandontetrick@gmail.com</a></div>
            <p class="lead mb-5">Educator turned digital marketer that has 5+ years of working within both the public and private sectors. Has provided both academic and professional services for a wide variety of clients & customers. Currently looking to grow professionally and further build my developer skills.</p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/brandon-tetrick-37a137162/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/BT-WEBDEV"><i class="fab fa-github"></i></a>
                <a class="btn btn-outline-primary btn-lg" href="{% url 'project_index' %}" role="button"> View Projects </a>
            </div>
            <br>
        </div>
    </section>
    <hr class="m-0" />

    {% endblock %}