{% extends "base.html" %}

{% block page_content %}
<!-- Page Content-->
<div class="container-fluid p-0">


    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">Brandon <span class="text-primary">Tetrick</span></h1>
            <div class="subheading mb-5">Colorado Springs, CO · (870) 321-2367 · <a href="mailto:brandontetrick@gmail.com">brandontetrick@gmail.com</a></div>
            <p class="lead mb-5">Former educator turned web developer with 7+ years of working in both the public and private sectors. Has provided academic and professional services for a wide variety of students, clients, and customers. Life-long learner with a passion for web development and digital marketing.</p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/brandon-tetrick-37a137162/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/BT-WEBDEV"><i class="fab fa-github"></i></a>
                <a class="btn btn-outline-primary btn-lg" href="{% url 'project_index' %}" role="button"> View Projects </a>
            </div>
            <br>
        </div>
    </section>
    <hr class="m-0" />

    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                <h3 class="mb-0"><a href="https://www.fullcupcreative.com/">Full Cup Creative</a></h3>
                <div class="subheading mb-3"> Front-End Developer - Colorado Springs, CO (Remote)</div>
                <ul>
                    <li>Developed customer focused, data driven experiential landing pages for enterprise-level clients that see over 1 million visitors per month.</li>
                    <li>Utilized HTML, CSS, and JavaScript via content management systems to bring mockup designs to life.</li>
                    <li>Implemented modern web development principles to build stable, responsive front end solutions and interactive content for all device & browser types.</li>
                    <li>Launched A/B split tests to optimize customer interactions, behavior, and conversions in order to achieve client key performance indicators.</li>
                    <li>Interfaced with account managers to provide troubleshooting and technical support through an internal ticketing system.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">May 2021 - March 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0"><a href="https://www.socialseo.com/">Social SEO</a></h3>
                <div class="subheading mb-3">Search Engine Optimization Analyst - Colorado Springs, CO</div>
                <ul>
                    <li>Implemented advanced digital marketing campaigns with colleagues in SEM, Social Media, Video, and Email marketing departments.</li>
                    <li>Fulfilled local and national SEO services for a multitude of clients in multiple industries across the country with some clients receiving over 30% new traffic and leads within the first 4 months.</li>
                    <li>Empowered brands for both long-term and short-term growth through optimizing website content, troubleshooting SEO-related issues, and competitive analysis.</li>
                    <li>Demonstrated value of SEO services through detailed monthly reports, weekly emails, and phone calls.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 2019 - March 2020</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Recital Digital Solutions</h3>
                <div class="subheading mb-3">Front-End Developer - Colorado Springs, CO (Remote)</div>
                <ul>
                    <li>Built my own business specializing in web development for local businesses focusing on customer growth and online presence in a tight competitive market.</li>
                    <li>Provided digital marketing expertise to fulfill client goals and objectives.</li>
                    <li>Developed over ten applications including a web-based bug tracking system, webcam motion detector, and website blocker as personal projects.</li>
                    <li>Expanded problem solving skills & techniques by utilizing additional resources available online.</li>
                    <li>Gained mastery of working within an IDE and have strengthened skills around using the computer command line, browser console, and local host environments.</li> 
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2018 - Present</span></div>
        </div>
        </div>
    </section>
    
    <hr class="m-0" />

    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Languages & Platforms</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>HTML, CSS
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>JavaScript, jQuery
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>Django
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>Python
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>Git/Github
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>Visual Studio Code
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>Wordpress & Other CMS
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>Google Analytics
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>Google Search Console
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>Google Tag Manager
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>Adobe Photoshop
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>Adobe Illustrator
                </li>
            </ul>
            <ul class="list-inline dev-icons" style="margin-top:20px;">
                <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                <li class="list-inline-item"><i class="fab fa-python"></i></li>
                <li class="list-inline-item"><i class="fab fa-google"></i></i></li>
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>Mobile-First Responsive Web Development
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>Optimize For Search Engines
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>Cross Browser Testing & Debugging
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>Project & Performance Based Work-Style
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>Agile Development & Scrum
                </li>
            </ul>
            <div class="social-icons" style="margin-top: 25px;">
                <a class="btn btn-outline-primary btn-lg" href="{% url 'project_index' %}" role="button"> View Projects </a>
            </div>
        </div>
</section>
<hr class="m-0" />

    {% endblock %}