{% extends "base.html" %}

{% block page_content %}
 <!-- Interests-->
 <section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>Hello there! Thanks for checking out my portfolio. I’m a relatively new Colorado resident and have enjoyed the beautiful mountain scenery and outdoor lifestyle this area brings. When I’m not in front of a computer, I’m most likely enjoying popular shows, playing video games, or out on the hiking trail with my wife Courtney.</p>
        <p class="mb-0">Before my career change, I was an active brass musician & public school teacher performing and teaching across the state of Arkansas. While I’m still an avid popular and classical music enthusiast, I don’t play as much as I used to since moving to Colorado. In the past few months, due to the pandemic, I’ve taken the time to learn new recipes and expand my cooking skills.</p>
    </div>
</section>
<hr class="m-0" />

{% endblock %}