{% extends "base.html" %}
{% load static %}
{% block page_content %}

<section class="resume-section" id="projects">
    <div class="resume-section-content">
        <h2 class="mb-5"> Projects</h2>
        <div class="row">
            {% for project in projects %}
            <div class="col-md-12">
                <div class="card mb-2">

                    <div class="card-header">
                        <h5 class="card-title">{{ project.title }}</h5>
                    </div>

                    <div class="card-body"> 
                        <div class="row"> 
                            <div class="col-md-8">
                                <p class="card-text">Column 1 {{ project.description|truncatewords:20 }}</p>
                                
                                
                            </div> <!-- Card Column -->

                            <div class="col-md-4">
                                <div class="photo-box">
                                    <img class="img-fluid" src="http://placehold.it/400x300">
                                </div>
                            </div> <!-- Card Column 2 -->

                        </div> <!-- Card Row -->
                        
                        {% for category in project.categories.all %}
                            <a href="{% url 'project_category' category.name %}">
                                {{ category.name }}  
                            </a> 
                        {% endfor %}
                        <br>
                        <div class="mt-auto">
                            <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary"> Read More </a>
                            <a href="{{ project.github }}" class="btn btn-secondary"> Github </a>
                            {% if project.url %}
                            <a href="{{ project.url }}" class="btn btn-success"> View Live </a> 
                            {% endif %}
                        
                        </div> <!--Buttons -->
                    </div> <!-- Card Body -->
                </div> <!-- Card-->

            </div> <!-- Cards Column -->
            {% endfor %}
        </div> <!-- Cards Row -->
    </div> <!-- Content Section-->
    

</section>
{% endblock %}